<!-- 
<%- include('partials/header.ejs') %>
   
<h1><%= classSearch.niveau %></h1>
<p class="classInfos"> <b>Nombre de classe : <%= classSearch.nbrclasse %></b></p>
<p class="classInfos"> <b>Effecti total: <%= classSearch.effectiftotal %></b></p>
 
 
 
 
<%- include('partials/footer.ejs') %> -->
