<!-- <%- include('partials/header') %>
<h2><%= product.nom %></h2>
<img src="/img/<%= product.image %>" alt="<%= product.nom %>" width="200">
<p><%= product.description %></p>
<p>Prix : <%= product.prix %> €</p>
<%- include('partials/footer') %> -->
