<% include layout %>
<h1><%= product.nom %></h1>
<img src="<%= product.image %>" alt="<%= product.nom %>">
<p><strong>Prix :</strong> <%= product.prix %></p>
<p><strong>Description :</strong> <%= product.description %></p>
<a href="/category/homme">Retour</a>
